<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvulVRLFSIIxG2Dyq20r4R6f6h99kfrzY</string>
	<key>GCM_SENDER_ID</key>
	<string>57758107040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treebie.app</string>
	<key>PROJECT_ID</key>
	<string>treebie-66127</string>
	<key>STORAGE_BUCKET</key>
	<string>treebie-66127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57758107040:ios:a39281bc4f83e2e22590c5</string>
</dict>
</plist>